.footer {
    position: absolute;
    display:flex;
    bottom: 0;
}

.buttonlang{
    left: 0;
    background:white;
    color:white;
    border-radius:5px;
}

.zoomdiv{
    margin-left: 1%;
    right:0px;
    display:flex;
    border-radius: 3px;
    border: 2px solid black;
}

.buttonDiv{
    flex-direction: column;
}
.buttonChange{
    margin-left: 1%;
    background:yellow;
    border-radius:5px;
    font-size: 2em;
    width:100%;
}