.main {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 100px auto;
}

.h1 {
    text-align: center;
    margin-bottom: 0px;
}

b {
    color: black;
}

.button {
    background: #ff0055;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-size: 1.2em;
}