.appointments-h1{
    text-align: center;
    color: #777;
    margin-bottom: 0px;
}

.appointments-main{
    display:flex;
    flex-direction: column;
    width:40%;
    margin: 100px auto;
}

.appointments-button{
    margin-top: 5px;
    background:#ff0055;
    padding:10px;
    color:white;
    border-radius:5px;
    font-size: 1.2em;    
}
.date-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.date-calendar{
    width:100%;
}
.date-h2{
    font-size: 1.2em;
    margin-right: 10px;
    color: #777;
}
table{
    margin: auto;
    border: solid;
    width:50%;
    border-collapse: collapse;
}
td{
    border:solid;
    text-align: center;
    border-bottom: solid;
    
}