.vaccines-h1{
    text-align: center;
    color: #777;
    margin-bottom: 0px;
}

.vaccines-main{
    display:flex;
    flex-direction: column;
    width:30%;
    margin: 100px auto;
}

.button{
    background:#ff0055;
    padding:5px;
    color:white;
    border-radius:5px;
    font-size: 1.2em;    
    margin-top: 5px;
}

.ul{
    padding: 0%;
}

.error{
    color:red;
    font-size: .6em;
}

b{
    color: red;
}